*.i
*.s
*.ii
*.tmp
*.bak
*.hex
*.save
*.d
*.swn
*.swm
*.orig
.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.swo
old/
*/old/
*/*/old/
*/*/*/old/
nohup.out
*.ses
*.dsn
*.rules
*preroute*
*.o
*bak
*-backups
*cache*
