*.i
*.s
*.ii
*.tmp
*.bak
*.hex
*.save
*.d
*.swn
*.swm
*.orig
.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.swo
old/
*/old/
*/*/old/
*/*/*/old/
nohup.out
*.ses
*.dsn
*.rules
*preroute*
*.o
*bak
*-backups
*cache*
CUPL/SFD700.bk
CUPL/test
CUPL/testabc
CUPL/testit
CUPL/x
CPLD/v1.2/build/db/
CPLD/v1.2/build/incremental_db/
CPLD/v1.2/build/output_files/
CPLD/v1.2/build/simulation/
CPLD/v1.2/build/x
CPLD/v1.2/sfd700.vhd.working12082023
CPLD/v1.2/tzpuFusionX.vhd.old
